<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="author" content="">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('/bundles/framework/css/bootstrap.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('/bundles/framework/css/bootstrap-extend.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('/bundles/framework/css/login-v2.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('/bundles/framework/css/fonts/material-design/material-design.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/bundles/framework/css/site.css') }}" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


    {% block stylesheets %}

    {% endblock %}
    <link rel="stylesheet" href="{{ asset('/bundles/framework/css/app.css') }}" type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic">
    <!-- Fonts -->
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <script src="{{ asset('/bundles/framework/js/vendor/modernizr/modernizr.js') }}"></script>
    <script src="{{ asset('/bundles/framework/js/vendor/breakpoints/breakpoints.js') }}"></script>
    <script>
        Breakpoints();
    </script>
</head>
<body class="page-login-v2 layout-full page-dark">
<div>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        <a href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
    {% else %}

    {% endif %}
</div>

{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

<div>
    {% block fos_user_content %}
    {% endblock fos_user_content %}
</div>
<!-- Core  -->
<script src="{{ asset("/bundles/framework/js/vendor/jquery/jquery.js") }}"></script>
<script src="{{ asset("/bundles/framework/js/vendor/bootstrap/bootstrap.js") }}"></script>
<script src="{{ asset("/bundles/framework/js/vendor/animsition/animsition.js") }}"></script>
<script src="{{ asset("/bundles/framework/js/vendor/asscroll/jquery-asScroll.js") }}"></script>
<script src="{{ asset("/bundles/framework/js/vendor/mousewheel/jquery.mousewheel.js") }}"></script>
<script src="{{ asset("/bundles/framework/js/vendor/asscrollable/jquery.asScrollable.all.js") }}"></script>
<script src="{{ asset("/bundles/framework/js/vendor/ashoverscroll/jquery-asHoverScroll.js") }}"></script>
<script src="{{ asset("/bundles/framework/js/vendor/waves/waves.js") }}"></script>
<!-- Plugins -->
<!-- Scripts -->
<script src="{{ asset("/bundles/framework/js/core.js") }}"></script>
<script src="{{ asset("/bundles/framework/js/site.js") }}"></script>
<script src="{{ asset("/bundles/framework/js/sections/menu.js") }}"></script>
<script src="{{ asset("/bundles/framework/js/sections/menubar.js") }}"></script>
<script src="{{ asset("/bundles/framework/js/sections/gridmenu.js") }}"></script>
<script src="{{ asset("/bundles/framework/js/sections/sidebar.js") }}"></script>
<script src="{{ asset("/bundles/framework/js/configs/config-colors.js") }}"></script>
<script src="{{ asset("/bundles/framework/js/configs/config-tour.js") }}"></script>
<script src="{{ asset("/bundles/framework/js/components/asscrollable.js") }}"></script>
<script src="{{ asset("/bundles/framework/js/components/slidepanel.js") }}"></script>
<script src="{{ asset("/bundles/framework/js/components/switchery.js") }}"></script>
<script src="{{ asset("/bundles/framework/js/components/tabs.js") }}"></script>
<script src="{{ asset("/bundles/framework/js/components/matchheight.js") }}"></script>
<script src="{{ asset("/bundles/framework/js/components/jvectormap.js") }}"></script>
<script src="{{ asset("/bundles/framework/js/components/peity.js") }}"></script>
<script src="{{ asset("/bundles/framework/js/custom.js") }}"></script>
{% block javascripts %}

{% endblock %}
<script type="text/javascript">
    $(document).ready(function($) {
        Site.run();
    });
</script>
</body>
</html>
